body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

nav {
  position: absolute;
  background-color: black;
  color: white;
  margin-left: 15px;
}

ul {
  position: relative;
  top: 15px;
}

li {
  text-decoration: none;
  display: inline;
  margin-left: 0px;
}

li:hover {
  background-color: gray;
  color: black;
  padding: -1px;
  border-radius: 1px;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../img/h1.jpeg');
  min-height: 80%;
}

.pimg2 {
  background-image: url('../img/h2.jpeg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../img/h4.jpeg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  font-family: lobster;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 2.9em;
  letter-spacing: 8px;
}

.ptext .border {
  color: #000;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

.modal {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 25px;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg11,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }

  .ptext {
    font-family: lobster;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 3.9em;
    letter-spacing: 8px;
  }

  h2 {
    font-family: lato;
  }

  .section {
    margin: 0px;
    padding: 0px;
  }

  div {
    font-size: 10px;
  }

  .logo {
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
  }
}
